@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@theme {
    --text-hero-header-desktop: 64px; /* hero header text, applicable for all hero variants in academic departments */
    --text-hero-header-mobile: 40px;
    --text-section-header-desktop: 48px; /* section header text */
    --text-section-header-mobile: 32px;
    --text-card-title-desktop: 24px; /* card title text */
    --text-card-title-mobile: 20px;
    --text-main-desktop: 18px; /* body text and button text*/
    --text-main-mobile: 16px; /* body text and button text*/
    --text-small-desktop: 14px;
    --text-small-mobile: 12px;
    --color-primary: #0a095f; /* primary brand color */
    --color-accent: #ffa600; /* accent color */
    --color-neutral: #e4e4e4; /* neutral color */
}

@layer base {
    h1 {
        @apply text-hero-header-desktop;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
    }
    h2 {
        @apply text-section-header-desktop;
        font-weight: 600;
        font-family: 'Playfair Display', serif;
    }
    h3 {
        @apply text-card-title-desktop;
        font-weight: 600;
        font-family: 'Playfair Display', serif;
    }
    p {
        @apply text-main-desktop;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }
    small {
        @apply text-small-desktop;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }
}

@layer components {
    .btn-primary {
        @apply bg-amber-300 text-white;
        font-weight: 700;
        padding: 12px 24px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .btn-primary:hover {
        @apply bg-amber-500;
    }
    .btn-secondary {
        @apply bg-gray-300 text-white;
        font-weight: 700;
        padding: 12px 24px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .btn-secondary:hover {
        @apply bg-gray-500;
    }
}